<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CPlusPlusLearningProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ConstPointer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>DoublePointer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>_1.2_main.cpp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>_1.3_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>_1.4.3_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>_1.5_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>_2.1.7_RefAndValue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>_2.1_BasicTypeConvert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>_2.3.3_DoublePointer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>_2.4.1_Const.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>_2.6.1_SalesData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>_3.14_Vector_Add.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>_3.2.2_String.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>_3.2.3_String_For.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>_3.21_Iterator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>_3.4_Vector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>_3.5.3_Array.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>_6.16_Function.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A0552251E84DB47008950FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0552301E84ED0E008950FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A05D9421E83F4410020AF22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A05D94D1E842E5D0020AF22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A419A3F1E82CF9900712DE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A419A521E82DCDF00712DE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A419A5D1E82DD1500712DE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A419A681E82DE1300712DE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A419A731E82E21C00712DE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4F07EF1E839E2C00A6E6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4F07FA1E83B14C00A6E6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4F08051E83C68D00A6E6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4F08101E83C6A400A6E6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A954CA51E87D54700848A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A954CB01E87DCE700848A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A954CBB1E87E0FA00848A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A954CC61E87E85300848A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A954CD11E87F33900848A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A969A591E86BF8300634F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
